.events-managing-container {
  background: linear-gradient(
      to left,
      rgba(204, 204, 204, 0.8),
      rgba(204, 204, 204, 1) 70%
    ),
    url("E:\MERN\React Apps\quickiee\src\images\eventPic.jpg") center
      center/cover fixed;
  text-align: center;
  padding: 50px 6%;
}
.events-managing-container .heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
}
.event-each-slide {
  height: fit-content;
}
@media (max-width: 960px) {
  .events-managing-container {
    background: linear-gradient(
        to top,
        rgba(204, 204, 204, 0.8),
        rgba(204, 204, 204, 1) 70%
      ),
      url("E:\MERN\React Apps\quickiee\src\images\eventPic.jpg") center
        center/cover fixed;
  }
}
